<div class="container">
  <h2 class="mt-5">Create New Issue</h2>
  <form [formGroup]="issueForm" class="mt-4">
    <div class="form-group">
      <label for="userId">User ID</label>
<input type="text" class="form-control" id="userId" formControlName="userId" placeholder="Enter User ID"
       (keyup.enter)="onUserIdEnter($event)">
    </div>
    <div class="form-group">
      <label for="userName">User Name</label>
      <input type="text" class="form-control" id="userName" formControlName="userName" placeholder="Enter User Name">
    </div>
    <div class="form-group">
      <label for="circle">Circle</label>
      <input type="text" class="form-control" id="circle" formControlName="circle" placeholder="Enter Circle">
    </div>
    <div class="form-group">
      <label for="ba">BA</label>
      <input type="text" class="form-control" id="ba" formControlName="ba" placeholder="Enter BA">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Enter Phone">
    </div>
    <div class="form-group">
      <label for="affectedUsers">Number of Affected Users</label>
      <input type="number" class="form-control" id="affectedUsers" formControlName="affectedUsers" placeholder="Enter Number of Affected Users">
    </div>
    <div class="form-group">
      <label for="issueCategories">Issue Categories</label>
      <input type="text" class="form-control" id="issueCategories" formControlName="issueCategories" placeholder="Enter Issue Categories">
    </div>
   <label for="issueDate">Issue Date and Time</label>
    <div class="input-group">
      <input type="datetime-local" class="form-control" id="issueDate" formControlName="issueDate">
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" (click)="preFillDateTime()">Now</button>
      </div>
    </div>
    <div class="form-group">
      <label for="issueDescription">Issue Description</label>
      <textarea class="form-control" id="issueDescription" formControlName="issueDescription" rows="4" placeholder="Enter Issue Description"></textarea>
    </div>
    <div class="form-group">
    <label for="status">Status</label>
    <select class="form-control" id="status" formControlName="status">
      <option *ngFor="let option of statusOptions" [value]="option">{{ option }}</option>
    </select>
  </div>
    <div class="form-group">
      <label for="remarks">Remarks</label>
      <textarea class="form-control" id="remarks" formControlName="remarks" rows="4" placeholder="Enter Remarks"></textarea>
    </div>
    <div class="form-group">
      <label for="ticketCreatedBy">Ticket Created By</label>
      <input type="text" class="form-control" id="ticketCreatedBy" formControlName="ticketCreatedBy" placeholder="Enter Ticket Created By">
    </div>
    
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>
</div>

